<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="about-veno">
                    <div class="logo">
                        <img loading="lazy"  src="{{asset('connect+.jpg')}}" width="100" alt="Venue Logo">
                    </div>
                    <p>{{footer.0.description}}<br>
                    {{footer.0.description2}}</p>
                    <ul class="social-icons">
                        <li>
                            <a href="{{footer.0.facebook}}" target='_blank'><i class="fa fa-facebook"></i></a>
                            <a href="{{footer.0.twitter}}" target='_blank'><i class="fa fa-twitter"></i></a>
                            <a href="{{footer.0.linkedin}}" target='_blank'><i class="fa fa-linkedin"></i></a>                         
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="useful-links">
                    <div class="footer-heading">
                        <h4>liens utiles</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                <li><a href="{{path('faq')}}"><i class="fa fa-stop"></i>FAQ</a></li>
                                <li><a href="{{path('about')}}"><i class="fa fa-stop"></i>à propos</a></li>
                            </ul>
                        </div>                      
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="contact-info">
                    <div class="footer-heading">
                        <h4 >Contact Information</h4>
                    </div>
                    <p>{{footer.0.contactInformation}} <br>
                    {{footer.0.contactInformation2}}</p>
                    <ul>
                        <li><span class='spanPhone'>Phone:</span><a href="#">{{footer.0.phone}}</a></li>
                        <li><span class='spanEmail'>Email:</span><a href="#">{{footer.0.email}}</a></li>
                        <li><span class="spanAddress">Address:</span><a href="#">{{footer.0.addresse}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>