{% extends 'base.html.twig' %}
{% block body %}
<h1>demande de reservation</h1>
	
    <p> nom:  {{ data.4 }}</p>
    <p> prenom: {{ data.6 }}</p>
    <p> mail: {{ data.7 }}</p>
    <p> jeux:  {{ data.0 }}</p>
    
    <p> console:  {{ data.5 }} </p>
    <p> horaire:  {{ data.1 }} </p>
    <p>nombre de personne: {{ data.2 }}</p>

    





{% endblock %}